 body {
    background: #f5f5f5;    
    /*margin: 0;
    color: #4c5667;   
    overflow-x: hidden !important;*/
}
 #topnav{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1030;
    background-color: white;
    border: 0;
    /*-webkit-transition: all .5s ease;
    transition: all .5s ease;
    min-height: 62px;*/
 }
 .container {
     width:95%;
     padding-right: 15px; 
     padding-left: 15px; 
     margin-right: auto; 
     margin-left: auto; 
}
.wrapper {
  margin-top: 120px;
}
/*.dropdown-menu > li.kopie > a {
    padding-left:5px;
}
 
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
   top:0;left:100%;
   margin-top:-6px;margin-left:-1px;
   -webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;
 }
  
.dropdown-submenu > a:after {
  border-color: transparent transparent transparent #333;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  content: " ";
  display: block;
  float: right;  
  height: 0;     
  margin-right: -10px;
  margin-top: 5px;
  width: 0;
}
 
.dropdown-submenu:hover>a:after {
    border-left-color:#555;
 }

.dropdown-menu > li > a:hover, .dropdown-menu > .active > a:hover {
  text-decoration: underline;
}  
  
@media (max-width: 767px) {

  .navbar-nav  {
     display: inline;
  }
  .navbar-default .navbar-brand {
    display: inline;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .navbar-default .navbar-nav .dropdown-menu > li > a {
    color: red;
    background-color: #ccc;
    border-radius: 4px;
    margin-top: 2px;   
  }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a {
     color: #333;
   }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
     background-color: #ccc;
   }

   .navbar-nav .open .dropdown-menu {
     border-bottom: 1px solid white; 
     border-radius: 0;
   }
  .dropdown-menu {
      padding-left: 10px;
      z-index:0px;
  }
  .dropdown-menu .dropdown-menu {
      padding-left: 20px;
   }
   .dropdown-menu .dropdown-menu .dropdown-menu {
      padding-left: 30px;
   }
   li.dropdown.open {
    border: 0px solid red;
   }

}
 
@media (min-width: 768px) {
  ul.nav li:hover > ul.dropdown-menu {
    display: block;
  }
  #navbar {
    text-align: center;
  }
}*/



.user-img {
    border: 2px solid darkgray;
    height: 36px;
    width: 36px;
}
.user-menu-position{
        padding-top: 8px;
    padding-right: 15px;
}
.card-box {
    padding: 20px;
    border: 1px solid rgba(54, 64, 74, 0.08);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background-clip: padding-box;
    margin-bottom: 20px;
    background-color: #fff;
}

/* Footer */
.footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    bottom: 0px;
    color: #58666e;
    text-align: center !important;
    padding: 20px 0px;
    position: absolute;
    right: 0px;
}

.engine-picture-sm{
     height: 100px;
    width: 110px;
}
.engine-picture{
     height: 180px;
    width: 265px;
    padding-bottom: 10px;
}

.engine-picture-md{
    height: 150px;
    width: 150px;
}

.text-bold-title{
    font-weight:bold;
    font-size:16px;
    
}

.text-bold-md-title{
    font-weight:bold;
    font-size:16px;
   
}
.text-bold-sm-title{
    font-weight:bold;  
   
}
.page-division{
    background-color: darkgrey;   
     font-weight:bold;
    
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.add-photo-container{
    width:270px;
    height:187px;
    border:solid 1px darkgray;
    display: table-cell;
    vertical-align: middle;
    text-align:center;
    font-weight:bold;
}

.stage-box{
    width:auto;
    height:25px;
    border:solid 1px darkgray;
    /*display: table-cell;
    vertical-align: middle;
    text-align:center;*/
    font-weight:bold;
    
}

.stage-text{
    display: inline;
    padding: 8px;
    font-size: 85%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
  
}
.slider.slider-horizontal {
    width: 380px;
    height: 20px;
}
.slider.slider-horizontal .slider-track
{
     height: 20px;
}

.slider-handle,  .slider-tick{
    position: absolute;
    width: 30px;
    height: 30px;
}

.slider-tick-label-container
{
    margin-top: 30px; 
}